<h1>info</h1>
<br>
<p>こんにちわ。</p>
<p>このページは 2017/10/07 の <a href="http://railsgirls.com/tokyo.html">Rails Girls Tokyo</a> でつくりました🎉</p><br>
<a href="http://railsgirls.com/tokyo.html"><img src="http://railsgirls.com/images/railsgirls-sq.png" width="100" alt="Rails Girls Tokyo"></a><br>
<br>
<p>このページは <a href="https://github.com/karenboya">わたし</a> がつくりました🎉</p><br>
<a href="https://github.com/karenboya"><img src="https://pbs.twimg.com/profile_images/895992355647504386/bAEO_dNm_400x400.jpg" width="100" alt="karenboya"><br>
<br>
